@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>    Bienvenue dans l'Ecole du Web </h1>
<h3>Le meilleur organisme pour  apprendre et dévelloper vos compétences en tant que dévelloppeur </h3>



